html, body {
    margin: 0;
    padding: 0;
}

header {
    margin: 0;
    padding: 0;
    position: relative;
}
/* accueil1 */
.headerAccueil {
    background: linear-gradient(to bottom, rgb(0, 0, 0),rgb(10, 0, 0));
    margin: 0;
    padding: 0;
    height: 400px;
    position: relative;
}

.accueilBody {
    
    background: linear-gradient(to bottom , rgb(0, 0, 0),rgb(107, 1, 1));
    color: #ff0000;
}
footer{
    background-color: rgb(62, 3, 3);
    margin-top: 300px;
    margin-top: 300px;
    padding: 0;
    height: 250px;
    position: relative;
}
.footer-link  {
    color: #ffffff;
    text-decoration: none;
    font-size: 30px;
}
.footer-link :hover {
    text-decoration: underline;
    color: #f2f2f2;
    
}

.accueilTitre {
    font-size: 85px;
    color: rgb(187, 0, 0);
    text-align: justify;
    padding-top: 80px;
    padding-left: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.imgAccueil {
    position: absolute;   /* Position absolue pour permettre un placement fixe */
    top: 0;               /* Place en haut du conteneur parent */
    right: 0;             /* Aligne à droite */
    padding-right: 200px;  /* Ajoute un petit espace autour de l'image pour ne pas être collée */
    padding-top: 40px;
    background-image: url('../img/mauyThai2');
    background-size: contain; /* Pour ajuster la taille de l'image */
    background-repeat: no-repeat; /* Empêche la répétition */
    width: 300px; /* Largeur définie */
    height: 350px; /* Hauteur définie */
    
}

.imgAccueil img {
    width: 300px;         /* Garde la taille de l'image */;
    
}

h1 {
    text-align: center;
    margin: 0;
}

h3 {
    text-align: left;
}

main {
    text-align: center;
}

/*table*/
table {
    width: 60%;
    margin: 50px auto;
    border-collapse: collapse;
    padding-top: 100px;
    margin-top: 100px;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
    color: white;
}

th {
    background-color: #753232;
    color: white;
}

tr:nth-child(even) {
    background-color: #130808;
}

tr:hover {
    background-color: #4d4d4d;
}


